.maindiv{
    background-color: aqua;
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    
}
.result{
    
    height:50px;
    width:100%;
    background-color:  rgba(255,255, 255, 0.8); 
    display:flex;
    align-items: center;
    justify-content: center; 
}
.result-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-grow: 1; 
}

.team-info {
    display: flex;
    align-items: center; 
    margin: 0 15px; 
}
.team-name {
    font-size: 20px; 
    font-weight: bold; 
    color: rgb(14, 55, 126); 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}
.team-name2{
    margin-left: 20px;
    margin-right:20px;
    font-size: 20px; 
    font-weight: bold; 
    color: rgb(14, 55, 126); 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.score {
    font-size: 28px; 
    font-weight: bold; 
    color: rgb(0, 140, 255); 
    margin-left: 20px;
    margin-right:20px;
}

.score-divider {
    font-size: 28px; 
    font-weight: bold; 
    color: rgb(14, 55, 126); 
}

.exit-button{
    display:flex;
    justify-content: flex-end;
}
.teren{
    margin-left:150px;
    margin-right:150px;
    margin-top:100px;
    margin-bottom:80px;
    border:4px solid white;
    display: flex;
    background-color: orange;
    flex-direction:row;
    width:calc(100% - 300px);
    height:calc(100% - 180px);
}
.levo6{
    margin: 0px;
    border: 1px solid white;
    flex:2;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.levo3{
    margin: 0px;
    border: 1px solid white;
    border-right: 2px solid white;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.desno3{
    margin: 0px;
    border: 1px solid white;
    border-left: 2px solid white;;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.desno6{
    margin: 0px;
    border: 1px solid white;
    flex:2;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.player{
    width:30px;
    height:30px;
    background-color: yellow;
    border:2px solid white;
    border-radius: 50%;
}
