<h1>Create New DreamTeam</h1>

<div>
  <label for="teamName">Team Name:</label>
  <input id="teamName" [(ngModel)]="teamName" />
</div>

<h3>Select Players:</h3>
<ul>
  <li *ngFor="let player of players$ | async">
    <input type="checkbox" (change)="togglePlayerSelection(player.id)" /> {{ player.name }}
  </li>
</ul>

<button 
type="button"
aria-label="New team"
(click)="createDreamTeam()"
mat-raised-button
class="edit-button">Create Dream Team</button>
<button 
type="button"
aria-label="New team cancel"
(click)="cancelDreamTeam()"
mat-raised-button
class="edit-button">Cancel</button>
