<div *ngIf="team" class="team-container">

  <div class="team-details">
    <h2>{{ team.name || 'Unnamed Team' }}</h2>
    
    <h3>Players</h3>
    <div *ngIf="fullteam?.players; else noPlayers" class="players-container">
      <div class="players-list">
        <app-show-player 
          *ngFor="let player of fullteam?.players" 
          [player]="player"
          class="player-card">
        </app-show-player>
      </div>
    </div>

    <ng-template #noPlayers>
      <p class="no-players-message">No players available for this Team.</p>
    </ng-template>

    <button *ngIf="isAdmin && !fromG" (click)="openDeleteDialog()" mat-raised-button>
      Delete team
    </button>
  </div>

</div>
    