
.dreamteam-container {
  display: flex;
  padding: 20px;
  background-color:#ade3fc83;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px auto;

  .details-container {
    flex: 1 1 25%; 
    padding-right: 20px;

    h2 {
      font-size: 1.8rem;
      color: #3f51b5;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 1.4rem;
      color: rgb(32, 35, 84);
      margin: 15px 0 10px;
    }

    p {
      font-size: 1.2rem;
      color: rgb(32, 35, 84);;
      margin: 5px 0;


      mat-icon {
        margin-right: 5px;
        font-size: 1.5rem;
      }

      &:nth-child(2) mat-icon {
        color: #98ef9b; 
      }
      
      &:nth-child(3) mat-icon {
        color: #e73124; 
      }

      &.clickable {
        cursor: pointer;
        color: rgb(32, 35, 84);;
      }
    
    }
  }

  .players-container {
    flex: 1 1 75%; 
    h3 {
      margin-bottom: 15px;
      color:rgb(32, 35, 84);
    }

    .players-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: flex-start; 

      app-show-player {
        flex: 1 1 calc(15% - 15px); 
        max-width: 200px; 
        min-width: 100px;
      }
    }
  }
}

.creator-info {
  margin-bottom: 20px;
  margin-top:30px;
  font-weight: normal;
  p {
    font-size: 1.2rem;
    color: #3f51b5;
  }

}

.no-players-message {
  color: #888;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  button {
    margin-top: 15px;
    padding: 8px 15px;
    font-size: 1rem;
  }

}

.loading-message {
  color: #888;
  font-size: 1.4rem;
  text-align: center;
}