
.dreamteam-container {
  display: flex;
  padding: 20px;
  background-color: #ede8e8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //max-width: 800px;
  margin: 40px auto;

  /* Left side for DreamTeam details */
  .details-container {
    flex: 1 1 25%; /* Takes 25% of the width */
    padding-right: 20px;

    h2 {
      font-size: 1.8rem;
      color: #3f51b5;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 1.4rem;
      color: rgb(32, 35, 84);
      margin: 15px 0 10px;
    }

    p {
      font-size: 1.2rem;
      color: rgb(32, 35, 84);;
      margin: 5px 0;


      mat-icon {
        margin-right: 5px;
        font-size: 1.5rem;
      }

      &:nth-child(2) mat-icon {
        color: #98ef9b; /* Green for likes */
      }
      
      &:nth-child(3) mat-icon {
        color: #e73124; /* Red for dislikes */
      }

      &.clickable {
        cursor: pointer;
        color: rgb(32, 35, 84);;
      }
    
     
    }
    //&:nth-child(1) mat-icon {
      // mat-icon {
      //   margin-right: 5px;
      //   font-size: 1.5rem;
      //   .like{
      //     color: #98ef9b; /* Green for likes */
      //   }
    
      //   //&:nth-child(2) mat-icon 
      //   .dislike{
      //     color: #e73124; /* Red for dislikes */
      //   }
      // }
  }

  /* Right side for players */
  .players-container {
    flex: 1 1 75%; /* Takes 75% of the width */
    h3 {
      margin-bottom: 15px;
      color:rgb(32, 35, 84);
    }

    .players-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: flex-start; /* Aligns players to the start */

      app-show-player {
        flex: 1 1 calc(15% - 15px); /* Adjusts the player card to be 3 in a row */
        max-width: 200px; /* Ensures a maximum width */
        min-width: 100px;
      }
    }
  }
}

.creator-info {
  margin-bottom: 20px;
  margin-top:30px;
  font-weight: normal;
  p {
    font-size: 1.2rem;
    //font-weight: bold;
    color: #3f51b5;
  }

//   .unknown-creator {
//     color: #e73124;
//   }
}

.no-players-message {
  color: #888;
  font-size: 1.2rem;
  text-align: center;
  margin: 20px 0;
}

.buttons-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

  button {
    margin-top: 15px;
    padding: 8px 15px;
    font-size: 1rem;
  }


}

/* Loading states */
.loading-message {
  color: #888;
  font-size: 1.4rem;
  text-align: center;
}