mat-toolbar{
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.3);
}
.example-spacer {
    flex: 1 1 auto;
}
.headline{
    font-size: 20px;
    font-weight: bold;
    color: #0c2f65;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
}
mat-toolbar{
    background-color: #70d3fd;
}

.input {
    max-width: 150px;
    max-height:5px;
    padding: 0.875rem;
    font-size: 0.8rem;
    border: 1.5px solid #0c2f65;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #227a9f;
    outline: none;
    transition: ease 0.25s;
  }
   
  .input:focus {
    box-shadow: 5.5px 7px 0 #0c2f65;
  }