<mat-toolbar>
    <span class="headline">Volley-Platform</span>
    <span class="example-spacer"></span>
    <button *ngIf="userLogged" mat-icon-button class="example-icon favorite-icon" color="primary" (click)="homepage()">
      <mat-icon>dashboard</mat-icon>
    </button>  
    <button *ngIf="showSearchInput && userLogged" mat-icon-button class="goback-icon" color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button> 
    <button *ngIf="userLogged && !fromProfile" mat-icon-button class="example-icon" color="primary" (click)="searchTeams()">
      <mat-icon>search</mat-icon>
    </button>
    <input *ngIf="showSearchInput && userLogged" class="input" matInput placeholder="Search Teams" [(ngModel)]="searchTerm" (keyup.enter)="performSearch()" />
    <button mat-icon-button class="example-icon" color="primary" (click)="goToProfile()">
      <mat-icon>account_box</mat-icon>
    </button>
    <button *ngIf="userLogged" mat-icon-button class="example-icon" color="primary" (click)="signOut()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
</mat-toolbar>