// .player-info {
//     display: flex;
//     align-items: flex-start;
//     padding: 10px;
  
//     img {
//       width: 60px; // Adjust the width to the desired size
//       height: auto;
//       margin-right: 20px; // Space between the image and the player details
//       border-radius: 30%; // Makes the image circular, adjust if needed
//     }
  
//     .player-details {
//         display: flex;
//         flex-direction: column; // Stack text elements vertically
//         justify-content: space-between;
    
//         p {
//           margin: 0;
//           font-size: 16px;
//           color: #333;
    
//           &:not(:last-child) {
//             margin-bottom: 5px; // Space between the name, position, and age
//           }
//         }
//       }
//     }
.player-info {
    display: flex;
    flex-direction: column; // Stack the image and text vertically
    align-items: center; // Center align image and text
    padding: 10px;
  
    img {
      width: 150px; // Adjust as needed
      height: auto;
      margin-bottom: 10px; // Space between the image and the text
      border-radius: 20%; // Makes the image circular
    }
  
    p {
      margin: 0;
      font-size: 16px;
      color: #333;
      text-align: center; // Center the text under the image
  
      &:not(:last-child) {
        margin-bottom: 5px; // Space between the name, position, and age
      }
    }
  }
  