<app-nav></app-nav>
<div class="profile">
    <div class="centeredDiv">
      <!--<div class="profile-picture">
        <img [src]="svg" alt="Profile Image" />
      </div>-->
      <div class="profile-names">
        <h2>{{ profileToDisplay.name + " " }}</h2>
        <h2>
          {{ profileToDisplay.surname }}
        </h2>
      </div>
    </div>
    <div class="profile-details">
      <div class="profile-row">
        <span class="profile-label">Username:</span>
        <span>{{ profileToDisplay.username }}</span>
      </div>
      <!--<div class="profile-row">
        <span class="profile-label">Job:</span>
        <span>{{ profileToDisplay.job }}</span>
      </div>-->
      <div class="profile-row">
        <span class="profile-label">Email:</span>
        <span>{{ profileToDisplay.email }}</span>
      </div>
    </div>

    <div class="edit">
      <div class="edit-profile">
        <button
          type="button"
          aria-label="Delete profile"
          (click)="deleteProfile()"
          mat-raised-button
          class="edit-button"
        >
          Delete profile
          <!-- <mat-icon aria-label="Delete icon">delete</mat-icon> -->
        </button>
        <button
          type="button"
          aria-label="New dreamteam"
          (click)="newDreamTeam()"
          mat-raised-button
          class="edit-button"
        >
          New dreamteam
          <!-- <mat-icon aria-label="Delete icon">delete</mat-icon> -->
        </button>
      </div>

      
     
    </div>
    <div class="dream-teams">
      <h2>{{ profileToDisplay.name }}'s DreamTeams</h2>
    
      <!--<div *ngIf="fulldts | async as dreamTeams; else noDreamTeams">dreamTeams$ | async as dreamTeams; else noDreamTeams">-->
        
        <div class="eachdt" *ngFor="let dreamTeam of fulldts">
          
          
          
          <div *ngIf="dreamTeam; else loading"> 
            <h2 >{{ dreamTeam.name }}</h2>
            
            <p>Likes: {{ dreamTeam.likes }}</p>
            <p>Dislikes: {{ dreamTeam.dislikes }}</p>
            <button (click)="showDt(dreamTeam.id)">Show details</button>
            <button (click)="updateDt(dreamTeam.id)">Update dreamteam</button>
            <button (click)="deleteDreamteam(dreamTeam.id)">Delete dreamteam</button>
            
            
          </div>

          <ng-template #loading>
            <p>Loading DreamTeam details...</p>
          </ng-template>


        </div>
      <!--</div>-->
      
      <ng-template #noDreamTeams>
        <p>No DreamTeams available.</p>
      </ng-template>
    </div>
  </div>

  <!--<app-background-canvas></app-background-canvas>-->