<app-nav [fromProfile]="fromprofile"></app-nav>
<div class="glavni">
<div class="profile">
    <div class="centeredDiv">
      <div class="profile-names">
        <h2>{{ profileToDisplay.name + " " }}</h2>
        <h2>
          {{ profileToDisplay.surname }}
        </h2>
      </div>
    </div>
    <div class="profile-details">
      <div class="profile-row">
        <span class="profile-label">Username:</span>
        <span class="profile-label-value">{{ profileToDisplay.username }}</span>
      </div>
      <div class="profile-row">
        <span class="profile-label">Email:</span>
        <span class="profile-label-value">{{ profileToDisplay.email }}</span>
      </div>
    </div>

    <div class="edit">
      
        <div class="edit-profile1">
      
        <button
          type="button"
          aria-label="Delete profile"
          (click)="openDeleteDialog(0,1)"
          mat-raised-button
          class="edit-button"
        >
          Delete profile
        </button>
      
        <button *ngIf="isAdmin"
          type="button"
          aria-label="Show teams"
          (click)="showTeamsBtn()"
          mat-raised-button
          class="edit-button"
        >
          {{showteamsbtntext}}
        </button>
      </div>
      <div class="edit-profile2">
        <button
          type="button"
          aria-label="New dreamteam"
          (click)="newDreamTeam()"
          mat-raised-button
          class="edit-button"
        >
          New dreamteam
        </button>
        <button *ngIf="isAdmin"
          type="button"
          aria-label="New team"
          (click)="newTeam()"
          mat-raised-button
          class="edit-button"
        >
          New team
        </button>
        
        <button *ngIf="isAdmin"
          type="button"
          aria-label="New game"
          (click)="newGame()"
          mat-raised-button
          class="edit-button"
        >
          New game
        </button>
        <button *ngIf="isAdmin"
          type="button"
          aria-label="New player"
          (click)="newPlayer()"
          mat-raised-button
          class="edit-button"
        >
          New player
        </button> 
      </div>
         
    </div>
    <div *ngIf="createTeamflag && isAdmin">
      <app-create-team (teamCreated)="handleTeamCreated($event)" (cancelCreation)="handleCancelCreation($event)"></app-create-team>

    </div>
    <div *ngIf="createDtFlag">
      <app-create-dreamteam (dreamteamCreated)="handleDreamTeamCreated($event)" (canceldreamteamCreation)="handleCancelDreamTeamCreation($event)"></app-create-dreamteam>

    </div>
    <div *ngIf="createPlayerflag && isAdmin">
      <app-create-player (playerCreated)="handlePlayerCreated($event)" (cancelPlayerCreation)="handleCancelPlayerCreation($event)"></app-create-player>

    </div>
    <div *ngIf="showTeams && isAdmin">
      <div  *ngFor="let t of allTeams">
        <app-show-team [team]="t" [showDeleteBtn]="showTeams" (teamDeleted)="handleTeamDeleted($event)"></app-show-team>
      </div>
    </div>
    <div class="dream-teams">
      <h3  class="dt-name">{{ profileToDisplay.name }}'s DreamTeams</h3>
    
        
        <div class="eachdt" *ngFor="let dreamTeam of fulldts">
          
          <div class="eachdt2" *ngIf="dreamTeam; else loading"> 
            <div class="dt-info">
              <h3>{{ dreamTeam.name }}</h3>
              
              <p>
                <mat-icon aria-label="like">thumb_up</mat-icon> 
                {{ dreamTeam.likes }}
              </p>
              <p>
                <mat-icon aria-label="dislike">thumb_down</mat-icon> 
                {{ dreamTeam.dislikes }}
              </p>
          </div>
            <div class="dt-info">
              <button 
              type="button"
              aria-label="show dt"
              (click)="showDt(dreamTeam.id)"
              mat-raised-button
              class="edit-button">
              Details</button>
              <button 
              type="button"
              aria-label="show dt"
              (click)="updateDt(dreamTeam.id)"
              mat-raised-button
              class="edit-button">Update</button>
              <button 
              type="button"
              aria-label="show dt"
              (click)="openDeleteDialog(dreamTeam.id,2)"
              mat-raised-button
              class="edit-button">
              Delete</button>
            </div>
            
          </div>

          <ng-template #loading>
            <p>Loading DreamTeam details...</p>
          </ng-template>


        </div>
      
      <ng-template #noDreamTeams>
        <p>No DreamTeams available.</p>
      </ng-template>
    </div>
  </div>
</div>
