<h1>Create New Team</h1>

<div>
  <label for="teamName">Team Name:</label>
  <input id="teamName" [(ngModel)]="teamName" />
</div>

<h3>Select Players:</h3>
<ul>
  <li *ngFor="let player of availablePlayers">
    <input type="checkbox" (change)="togglePlayerSelection(player.id)" /> {{ player.name }}
  </li>
</ul>

<button 
type="button"
aria-label="New team"
(click)="createTeam()"
mat-raised-button
class="edit-button">Create Team</button>
<button 
type="button"
aria-label="New team cancle"
(click)="cancelTeam()"
mat-raised-button
class="edit-button">Cancel</button>

