
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  color:#3f51b5;
}

div {
  margin-bottom: 1.5rem;
}

// Games section
.game-section {
  margin-bottom: 2rem; // Space between game section and dream team section

  .gamee{
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin:0px;
    padding:0px;
  }
  app-show-game {
    display: block;
    margin-bottom: 1rem; // Space between each game component
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
}

// Dream Teams section
.dreamteam-section {
  app-show-dreamteam {
    display: block;
    margin-bottom: 1rem; // Space between each dream team component
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

// Loading states
p {
  font-style: italic;
  color: #99ddfcbd;
  text-align: center;
}

ng-template {
  margin-top: 1rem; // Space between loading message and other elements
}
